<hr>
<table>
    <tr>
        <th>Příjezd</th>
        <th>Stanice</th>
        <th>Odjezd</th>
        <th>Vlak</th>
        <th>Km</th>
    </tr>
    <tr>
        <td></td>
    {% for spoj in spoje %}
        <td>{{spoj.stanice|slice:":40"}}</td>
        <td>{{spoj.odjezd|time:"G:i"}}</td>
        <td>{{spoj.vlak}}</td>
        <td>{{spoj.km}}</td>
    </tr>
    <tr>
        <td>{{spoj.prijezd|time:"G:i"}}</td>
    {% endfor %}
        <td>{{cil|slice:":40"}}</td>
        <td></td>
        <td></td>
    </tr>
</table>
<hr>